* {
    margin: 0;
    padding: 0;
}
  
body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
    overflow-x: hidden;
}

nav {
    background-color: hotpink;
    border-bottom: 2px double darkorchid;
}

.navbar-brand {
    font-size: 36px;
    font-family: 'Staatliches', cursive;
}

.navbar-brand:hover {
    text-decoration: none;
    background-color: hotpink;
}

.navi-link {
    margin-left: 5px;
    margin-right: 5px;
    color: snow;
    font-size: 24px;
    font-family: 'Rokkitt', serif;
}

.navi-link:hover {
    text-decoration: none;
    background-color: hotpink;
    color: black;
}

.nav-item active {
    color: black;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    background-image: url('drivein_01.gif');
    background-position: center;
}

.card {
    background-color: #eee;
}

.card-text, label {
    font-size: 24px;
}

.btn-primary {
    background-color: hotpink;
    border: none;
    font-family: 'Rokkitt', serif;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: #666;
    border: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Staatliches', cursive;
}

h1 {
    color: snow;
}

p, label {
    font-family: 'Rokkitt', serif;
}

a {
    color: snow;
    background-color: hotpink;
}

a:hover {
    background-color: #666;
    text-decoration: none;
    color: snow;
}

.contact-text {
    font-size: 24px;
    margin-top: 20px;
}

.lead {
    color: snow;
    font-size: 24px;
}

span {
    background-color: tomato;
}

.page-footer {
    background-color: #999;
    margin-top: 40px;
    border-top: 2px double #666;
    width: 100%;
    position: absolute;
    
}

.fa {
    padding: 10px;
    margin-right: 10px;
    font-size: 26px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    text-decoration: none;
    background: #666;
    color: snow;
}

.fa-external-link {
    background: hotpink;
    color: snow;
}

.fa-twitter {
    background: hotpink;
    color: snow;
}
  
.fa-instagram {
    background: hotpink;
    color: snow;
}      

.fa-github {
    background: hotpink;
    color: snow;
}

.fa-linkedin {
    background: hotpink;
    color: snow;
}