* {
    margin: 0;
    padding: 0;
}
  
body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

nav {
    background-color: hotpink;
    border-bottom: 2px double darkorchid;
}

.navbar-brand {
    font-size: 36px;
    font-family: 'Staatliches', cursive;
}

.navi-link {
    margin-left: 5px;
    margin-right: 5px;
    color: snow;
    font-size: 24px;
    font-family: 'Rokkitt', serif;
}

.navi-link:hover {
    text-decoration: none;
    color: black;
}

.nav-item active {
    color: black;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    background-image: url('drivein_01.gif');
    background-position: center;
}

.card {
    background-color: #eee;
}

.card-text {
    font-size: 24px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Staatliches', cursive;
}

h1 {
    color: snow;
}

p {
    font-family: 'Rokkitt', serif;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: hotpink;
}

.lead {
    color: snow;
    font-size: 24px;
}

span {
    background-color: tomato;
}

.page-footer {
    background-color: #999;
    margin-top: 40px;
    border-top: 2px double #666;
}

.fa {
    padding: 10px;
    margin-right: 19px;
    font-size: 35px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    text-decoration: none;
    background: #666;
    color: snow;
}

.fa-twitter {
    background: hotpink;
    color: snow;
}
  
.fa-instagram {
    background: hotpink;
    color: snow;
}      

.fa-github {
    background: hotpink;
    color: snow;
}

.fa-linkedin {
    background: hotpink;
    color: snow;
}