* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #ddd !important;
  overflow-x: hidden !important;
}

nav {
  background-color: hotpink;
  border-bottom: 2px double darkred;
}

.navbar-brand {
  font-size: 36px !important;
  font-family: 'Staatliches', cursive !important;
  color: black !important;
}

.navbar-brand:hover {
  text-decoration: none !important;
  background-color: hotpink !important;
}

.navi-link, .text-link {
  margin-left: 5px;
  margin-right: 5px;
  color: snow;
  font-size: 24px;
  font-family: 'Rokkitt', serif;
  text-decoration: none;
}

.navi-link:hover, .text-link:hover {
  text-decoration: none !important;
  background-color: hotpink !important;
  color: black !important;
}

.nav-item active {
  color: black !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  background-image: url('https://www.mxadam.com/drivein_01.gif');
  
  background-position: center;
}

.card {
  background-color: #eee !important;
}

.card-text, label {
  font-size: 24px;
}

.btn-primary {
  background-color: hotpink;
  border: none;
  font-family: 'Rokkitt', serif;
  font-size: 18px;
}

.btn-primary:hover {
  background-color: #666;
  border: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Staatliches', cursive;
}

h1 {
  color: snow;
}

p, label {
  font-family: 'Rokkitt', serif;
}

a {
  color: snow !important;
  background-color: hotpink !important;
  text-decoration: none;
}

a:hover {
  background-color: #666 !important;
  text-decoration: none !important;
  color: snow !important;
}

.contact-text {
  font-size: 24px;
  margin-top: 20px;
}

.lead {
  color: snow;
  font-size: 24px;
}

span {
  background-color: black;
}

.page-footer {
  background-color: #999;
  margin-top: 40px;
  border-top: 2px double #666;
  width: 100%;
  position: absolute;
  
}

.fa {
  padding: 10px;
  margin-right: 10px;
  font-size: 26px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  text-decoration: none;
  background: #666;
  color: snow;
}

.fa-external-link {
  background: hotpink;
  color: snow;
}

.fa-twitter {
  background: hotpink;
  color: snow;
}

.fa-instagram {
  background: hotpink;
  color: snow;
}      

.fa-github {
  background: hotpink;
  color: snow;
}

.fa-linkedin {
  background: hotpink;
  color: snow;
}

.fa-envelope-square {
  background: hotpink;
  color: snow;
}

