img {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px;
  padding: 10px;
}  

#thumb01 img {
  width: 100%;
}

#thumb02 img {
  width: 100%;
}

#thumb03 img {
  width: 100%;
}

#thumb04 img {
  width: 100%;
}

#thumb05 img {
  width: 100%;
}

#thumb06 img {
  width: 100%;
}

#thumb07 img {
  width: 100%;
}

#thumb08 img {
  width: 100%;
}
